p {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    
    background-color: #111111;
    
    cursor: default;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

body {
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #5be9f9;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a6d9f7;
}
::-webkit-scrollbar-thumb:active {
  background: #34e0fe;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

button {
    background:none;
    border:none;
    outline: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

td {
    padding: 5px;
}

th {
    text-align: left;
    font-size: 12px;
    padding: 5px 5px 15px 5px;
}

tr {
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

tr:active {
    /*background-color: #1eaded;*/
}

tr:hover {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #0e0e0e;
}

td:first-child {
    -moz-border-radius:3px 0 0 3px;
    -webkit-border-radius:3px 0 0 3px;
}

td:last-child {
    -moz-border-radius:0 3px 3px 0;
    -webkit-border-radius:0 3px 3px 0;
}

tr:active {
    box-shadow: inset -1px -33px 0px -30px #1eaded;
    -webkit-box-shadow: inset -1px -33px 0px -30px #1eaded;
    -moz-box-shadow: inset -1px -33px 0px -30px #1eaded;
    -o-box-shadow: inset -1px -33px 0px -30px #1eaded;
}

tr:hover h5 {
    color: #1eaded;
}

tr:hover p {
    color: #1eaded;
}

tr:hover i {
    color: #1eaded;
}


.delay {
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.vueLogo {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    opacity: 0.1;
}

.vueLogo img {
    width: 60px;
}

.vueLogo p {
    color: #efefef;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}

.boxShadow {
    -webkit-box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.05);
    box-shadow: 0px 10px 12px -5px rgba(0,0,0,0.05);
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.headerContainer {
    width: 100%;
    height: 85px;
    position: fixed;
    background-color: rgba(14, 14, 14, 0.98);
    border-bottom: 3px solid #1eaded;
    overflow: hidden;
    top: 0px;
    z-index: 10;
}

.headerContainer i {
    font-size: 40px;
    color: #efefef;
}

.userContainer {
    display: -webkit-box;
    float: left;
    overflow: hidden;
    margin-top: 15px;
}

.searchButtonContainer {
    display: -webkit-box;
    float: right;
    overflow: hidden;
}

.userText {
    color: #555555;
    border-left: 1px solid #171717;
    padding-left: 5px;
}

.userText p {
    font-size: 12px;
    margin: 5px;
}

.userText h4 {
    font-size: 16px;
    margin: 5px;
}

.goBarContainer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.goBarSearchContainer {
    display: -webkit-box;
}


.goBarSearch {
    margin-top: 15px;
    overflow: hidden;
}


#iconButton {
    background-color: #101010;
    border-radius: 500px;
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

#iconButton:active {
    background-color: #1eaded;
    color: #222222;
}

#iconButton:hover {
    cursor: pointer;
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

#goBarSearch {
    font-weight: 400;
    font-size: 12px;
    margin: 10px;
    color: #efefef;
    padding: 10px;
    background-color: #151515;
    border: none;
    border-radius: 3px;
    width: 800px;
    float: left;
}

.goBarResults {
    width: 100%;
    position: relative;
    left: 0%;
}

.goBarResults ul {
    list-style: none;
    padding: 0px;
}

.goBarResults i {
}

.resultsGrid li {
    display: inline-block;
    text-align: center;
    width: 19%;
}

.goBarResults h5 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.goBarResults p {
    font-size: 12px;
    color: #333333;
}

.resultsGrid i {
    float: none;
    font-size: 60px;
    background-color: #101010;
    padding: 10px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 3px;
}

.notificationContainer {
    float: right;
    overflow: hidden;
    margin-top: 15px;
}

.resultsGrid {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.resultsTable {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.resultsTable table {
    width: 100%;
}

#tableIcon {
    float: right;
}


.slideToggle {
    height: 100%;
    opacity: 0.999;
}

.goBarSignalPath {
    position: relative;
    left: 0%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.show {
    left: -100%;
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.hide {
    left: -100%;
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.dim {
    opacity: 0.5;
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.goBarSignalPath p {
    font-size: 12px;
    color: #555555;   
}

.signalPathGraphImg {
    width: 100%;
    margin-top: 50px;
    display: inherit;
}

.footerContainer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0px;
    z-index: 15;
}

.footerContainer i {
    font-size: 40px;
    color: #efefef;
    margin-left: 10px;
}

.footerAlarmContainer {
    float: right;
    position: fixed;
    right: 0px;
}

.footerNavContainer {
    float: left;
    position: fixed;
    left: 0px;
}

.navMove {
    left: 300px;
}

.alarmMove {
    right: 300px;
}

.hideSideBar {
    opacity: 0;
    display: none;
}

.mainContainer {
    margin-top: 88px;
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.mainAppsContainer {
    
}

ul {
    list-style: none;
    padding: 0px;
}

.mainAppsGrid {
}

.mainAppsGrid li {
    text-align: center;
    background-color: #0e0e0e;
    padding: 20px;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    width: 246px;
    
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.mainAppsGrid li:hover i {
    color: #1eaded;
}

.mainAppsGrid li:hover p {
    color: #1eaded;
}

.mainAppsGrid li:hover {
    cursor: pointer;
}

.mainAppsGrid li:active {
    box-shadow: inset -1px -33px 0px -30px #1eaded;
    -webkit-box-shadow: inset -1px -33px 0px -30px #1eaded;
    -moz-box-shadow: inset -1px -33px 0px -30px #1eaded;
    -o-box-shadow: inset -1px -33px 0px -30px #1eaded;
    
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.mainAppsGrid p {
    color: #555555;
}

.mainAppsGrid i {
    font-size: 80px;
    color: #555555;
}

.mainLargeAppsGrid {
}

.mainLargeAppsGrid li {
    text-align: center;
    background-color: #0e0e0e;
    display: inline-block;
    margin: 5px;
    width: 887px;
    height: 500px;
    
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.mainLargeAppsItems:hover i {
    color: #1eaded;
}

.mainLargeAppsItems:hover p {
    color: #1eaded;
}

.mainLargeAppsItems:hover {
    cursor: pointer;
}

.mainLargeAppsPlayer i:hover {
    color: #1eaded;
}

.mainLargeAppsPlayer:hover i {
    cursor: pointer;
}

.mainLargeAppsGrid li:active {
    box-shadow: inset -1px -33px 0px -30px #1eaded;
    -webkit-box-shadow: inset -1px -33px 0px -30px #1eaded;
    -moz-box-shadow: inset -1px -33px 0px -30px #1eaded;
    -o-box-shadow: inset -1px -33px 0px -30px #1eaded;
    
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.mainLargeAppsGrid p {
    color: #efefef;
}

.mainLargeAppsGrid i {
    font-size: 80px;
    color: #efefef;
}

.mainLargeAppsItems {
    margin: auto;
    margin-top: 170px;
    width: 500px;
    z-index: 2;
    position: relative;
}

.mainLargeAppsImg {
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: 1;
    
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}

.mainLargeAppsWindow {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 3px;
}

.mainLargeAppsPlayer {
    z-index: 3;
    position: absolute;
    background-color: rgba(14, 14, 14, 0.98);
    bottom: 0px;
    width: 100%;
}

.mainLargeAppsPlayer i {
    font-size: 60px;
}


.mainTitleContainer {
    overflow: auto;
    color: #555555;
    width: 100%;
}

.mainTitleContainer h1 {
    padding-left: 15px;
    border-left: 3px solid #1eaded;
    font-weight: 100;
    float: left;
}

.mainTitleIconContainer {
    float: right;
}

.mainTitleIconContainer i {
    font-size: 80px;
}

.titleContainer {
    width: 100%;
}

.titleText {
    color: #555555;
    font-weight: 300;
}

.subtitleText {
    color: #555555;
    font-weight: 400;
}

.rightSideBar {
    width: 370px;
    background-color: rgba(14, 14, 14, 0.98);
    position: fixed;
    height: 100%;
    top: 0px;
    right: -403px;
    overflow-y: scroll;
    z-index: 10;
    
    -webkit-box-shadow: 10px 0px 12px -5px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 0px 12px -5px rgba(0,0,0,0.05);
    box-shadow: 10px 0px 12px -5px rgba(0,0,0,0.05);
    
    border-left: 3px solid #cc3333;
}

.rightSideBarContainer li {
    color: #555555;
    margin-top: 5px;
}


.rightSideBarContainer li:hover i {
    color: #cc3333;
}

.rightSideBarContainer li:hover h4 {
    color: #cc3333;
}

.rightSideBarContainer li:hover p {
    color: #cc3333;
}

.rightSideBarContainer li:hover {
    cursor: pointer;
}

.rightSideBarContainer p {
    font-weight: 300;
}

.rightSideBarContainer h4 {
    font-weight: 500;
}

.rightSideBarContainer i {
    font-size:80px;
}

.leftSideBar {
    width: 370px;
    background-color: rgba(14, 14, 14, 0.98);
    position: fixed;
    height: 100%;
    top: 0px;
    left: -403px;
    
    z-index: 10;
    
    -webkit-box-shadow: 10px 0px 12px -5px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 0px 12px -5px rgba(0,0,0,0.05);
    box-shadow: 10px 0px 12px -5px rgba(0,0,0,0.05);
    
    border-right: 3px solid #1eaded;
}

.leftSideBarContainer {
}

.leftSideBarContainer li {
    color: #555555;
    padding: 20px;
}

.leftSideBarContainer li:active {
    box-shadow: inset -1px -33px 0px -30px #1eaded;
    -webkit-box-shadow: inset -1px -33px 0px -30px #1eaded;
    -moz-box-shadow: inset -1px -33px 0px -30px #1eaded;
    -o-box-shadow: inset -1px -33px 0px -30px #1eaded;
    
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.leftSideBarContainer li:hover i {
    color: #1eaded;
}

.leftSideBarContainer li:hover p {
    color: #1eaded;
}

.leftSideBarContainer li:hover {
    cursor: pointer;
}

.leftSideBarContainer p {
    display: -webkit-inline-box;
    font-weight: 300;
}

.leftSideBarContainer i {
    font-size: 38px;
    float: right;
}


.sideBarShow {
    left: 0px;
}

.alarmBarShow {
    right: 0px;
}

.sideBarAlarmItem {
    text-align: center;
    background-color: #111111;
    padding: 20px;
    border-radius: 3px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 246px;
    
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}

.sideBarAlarmItem:active {
    box-shadow: inset -1px -33px 0px -30px #cc3333;
    -webkit-box-shadow: inset -1px -33px 0px -30px #cc3333;
    -moz-box-shadow: inset -1px -33px 0px -30px #cc3333;
    -o-box-shadow: inset -1px -33px 0px -30px #cc3333;
    
    -webkit-transition-duration: 200ms; /* Safari */
    transition-duration: 200ms;
}


@media only screen and (max-width: 768px) {
    
    .goBarContainer {
        width: 400px;
    }
    
    .goBarSearch {
        margin-top: 10px;
    }
    
    #goBarSearch {
        width: 510px;
    }
    
    .mainContainer {
        width: 100%;
        margin-top: 85px;
    }
    
    .headerContainer {
        height: 75px;
    }
    
    .headerContainer i {
        font-size: 30px;
    }
    
    .footerContainer i {
        font-size: 30px;
    }
    
    .goBarContainer {
        width: 600px;
    }
    
    .userText {
        display: none;
    }
    
    .searchButtonContainer {
        margin-top: 5px;
    }
    
    .mainAppsGrid li {
        width: 203px;
    }
    
    .slideToggle {
        height: 100%;
    }
    
    .goBarSignalPath {
        width: 700px;
    }
    
    .resultsTable {
        width: 700px;
    }
    
    .resultsGrid {
        width: 700px;
    }
    
    
    
}

@media only screen and (max-width: 450px) {
    .goBarContainer {
        width: 230px;
    }
    
    .mainAppsGrid li {
        width: 153px;
    }
    
    .mainAppsGrid i {
        font-size: 50px;
    }
    
    .mainAppsGrid p {
        font-size: 10px;
    }
    
    #goBarSearch {
        width: 140px;
    }
    
    .goBarResults h5 {
        font-size: 10px;
    }
    
    .goBarResults p {
        font-size: 8px;
    }
    
    .resultsGrid li {
        width: 70px;
    }
    
    th {
        font-size: 8px;
    }
    
    .footerNavContainer {
        margin-top: 15px;
    }
    
    .footerAlarmContainer {
        margin-top: 15px;
    }
    
    .goBarResults i {
        font-size: 20px;
    }
    
     .goBarSignalPath {
        width: 340px;
    }
    
    .resultsTable {
        width: 340px;
    }
    
    .resultsGrid {
        width: 340px;
    }

}
    
@media only screen and (max-width: 400px) {
    .mainAppsGrid li {
            width: 135px;
    }
    
}

@media only screen and (max-width: 360px) {
    .mainAppsGrid li {
        width: 127px;
    }
    
    .goBarContainer {
        width: 217px;
    }
    
    #goBarSearch {
        width: 130px;
    }
    
}

@media only screen and (max-width: 320px) {
    .mainAppsGrid li {
        width: 107px;
    }
    
    .goBarContainer {
        width: 177px;
    }
    
    #goBarSearch {
        width: 91px;
    }
    
}



